
@model Wedding


<h2>The wedding of...</h2>
<h2>@Model.AFirstName @Model.ALastName and @Model.BFirstName @Model.BLastName</h2>
<hr />
    <h4>@Model.Date.ToString("f")</h4>
    <h4>At @Model.AddressName</h4>
    <h5>@Model.Address1</h5>
    <h5>@Model.City, @Model.State @Model.Zipcode</h5>

<h4>Guest List:</h4>
<table class="table table-striped table-bordered table-sm w-50">
    <thead><tr><th>Guest 1</th><th>Guest 2</th><th>Attending?</th></tr></thead>
    <tbody>
    @if (Model.Guests.Count == 0)
    {
        <td colspan="3">No guests have been added</td>}

    @foreach (var g in Model.Guests)
    {
        <tr>
            <td>@g.AFirstName @g.ALastName</td>

            @if (g.BFirstName != null)
            {

                <td>plus Guest</td>
            }
            else
            {<td>@g.BFirstName @g.BLastName</td>} @if (g.IsAttending == true)
                                                  {
                                                      <td>yes</td>
                                                  }else if(g.IsAttending == false){<td>No</td>}else{ <td>No Response</td>}</tr>
    }
        
   
    </tbody>
</table>
@if(Model.UserId == (int?)ViewBag.UserId)
    {
        <a class="btn btn-primary" asp-action="NewGuest">Add Guest</a>
    }
    <a class="btn btn-primary" asp-action="Dashboard">Dashboard</a>

