@using System.ComponentModel.DataAnnotations
@model NinjasViewModel
<div class="directory float-left w-25 ml-5">
    <div>
        <h1>Registered Ninjas</h1>
        <table class="table table-striped table-sm table-bordered">
            <thead class="text-gray-dark">
            <tr><th>Ninja Name:</th><th>Home Dojo</th></tr>
            </thead>
            @foreach (var ninja in Model.ninjas)
            {
                <tr>
                    <td><a asp-action="ShowNinja" asp-route-id="@ninja.id">@ninja.name</a></td>
                    <td><a asp-action="ShowDojo" asp-route-location="ninja.location">@ninja.dojo </a></td>
                    
                </tr>
            }
        </table>
    </div>
</div>
<div class="form float-right w-25 mr-5">
<div>
    <h1>Register a Ninja</h1>
    <form asp-action="CreateNinja" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="ninja.name">Ninja Name:</label>
            <input asp-for="ninja.name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ninja.level">Ninja Level (1-10)</label>
            <select asp-for="ninja.level" class="form-control">
                @for (int i = 1; i < 11; i++)
            {
                <option value="@i">@i</option>
    }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="ninja.dojo">Assigned Dojo:</label>
            <select asp-for="ninja.dojo" class="form-control">
    
                <option value="@location">@location</option>
        }

            </select>
        </div>

        <div class="form-group">
            <label asp-for="ninja.description">Optional Description:</label>
            <textarea cols="25" rows="4" asp-for="ninja.description" class="form-control">
             
            </textarea>
        </div>
        <input type="submit" value="add Ninja"/>
    </form>
    </div>
</div>
