@model PokeInfo.Models.PokeDetails
    
    
<h4>Name: @Model.Name</h4>
<h5>Type: @Model.Type</h5>
<h5>Height: @Model.Height</h5>
<h5>Weight: @Model.Weight</h5>


<img src="@ViewBag.Image" alt="Alternate Text" />